.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: grey;
}

.items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
button{
  background-color: red;
  border: none;
  color: white;
  padding: 1rem;
  margin-left: 2rem;
  border-radius: 1rem;
}
.toggle{
  background-color: rgb(187, 185, 185);
  width: 30%;
  font-size: large;
}
.toggle-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}